<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
    <!-- 1.导入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 2.定义一个标签 需要给标签添加id -->
    <div id="app">
        <span>{{message}}</span>
        <a href="#" v-if='islogin'>欢迎你归来</a>
        <hr>
        <!-- v-if与v-else必须紧挨着 -->
        <a href="#" v-if='level==1'>青铜</a>
        <!-- <a href="#">~~~</a> -->
        <a href="#" v-else-if='level==2'>白银</a>
        <a href="#" v-else>王者</a>
        
        <hr>
        <span v-if='seen'>v-if</span>
        <br>
        <span v-show='seen'>v-show</span>
    </div>
</body>
<!-- 3.创建Vue实例 -->
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            message:'Hello',
            // islogin:true,
            islogin:false,
            // level:1,
            level:2,
            // true两个都会显示
            // seen:true, false的时间v-show会将css的display的属性设置为None，v-if则不会显示
            seen:false,
        }
    })
</script>
</html>