<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <!-- 1.导入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span>{{message}}</span>
        <hr>
        <input type="text" name="todoitem" v-model='newitem'> <button @click='add'>添加</button>
        <hr>
        <ul>
            <li v-for='(item, index) in items'>{{item}}
            <a href="javascript:;" @click='up(index)'>上移</a>
            <a href="javascript:;" @click='down(index)'>下移</a>
            <a href="javascript:;" @click='deleteitem(index)'>删除</a>
            </li>
        </ul>
    </div>
    <hr>
    <span>{{message}}</span>
    <!-- 写在id=app的标签外边是不行的 -->
</body>
<!-- 3.创建Vue实例 -->
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            message:'Hello',
            items:[],
            newitem:'',
        },
        methods:{
            add:function (){
                this.items.push(this.newitem);
                this.newitem='';
            },
            deleteitem:function (index){
                this.items.splice(index, 1);
            },
            up:function (index){
                current = this.items[index];
                this.items.splice(index,1);
                this.items.splice(index-1,0,current)
            },
            down:function (index){
                current = this.items[index];
                this.items.splice(index,1);
                this.items.splice(index+1,0,current)
            },
        },
    })
</script>
</html>